.ValidationDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 90%;
  max-width: 1032px;
  text-align: center;
  max-height: 80vh;
  overflow: auto;
}

.ValidationDialogContent {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .ValidationDialogContent {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}

.ValidationDialogLeftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  border-radius: 10px;
  padding: 20px;
  background-color: #b08968;
}

.ValidationDialogContent .ValidationDialogLeftColumn img {
  max-width: 290px;
  height: auto;
  border-radius: 10px;
}

.ValidationDialogRightColumn {
  position: relative;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DialogDescription {
  color: #010135;
  font-size: 16px;
  text-align: start;
  margin: 0%;
  padding: 12px;
  padding-top: 0px;
}

.ValidationDialogActions {
  display: flex;
  justify-content: space-evenly;
}


.ConfirmButton,
.CancelButton {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.ConfirmButton {
  background-color: #b08968;
  color: white;
}

.ConfirmButton:hover {
  background-color: #7f5539;

}

.CancelButton {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
}

.CancelButton:hover {
  background-color: #b83229;
}
