@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
  margin: 0;
  padding: 0;
  background: #ede0d4;
  color: white;
}

.Navbar-logo {
  width: 150px;
  height: auto;
  justify-content: center;
  align-items: center; 
}

.Navbar ul {
  display: flex;
  list-style-type: none;
  margin-right: 160px;
  padding: 0px;
  justify-content: center;
  align-items: center; 
}

.Navbar a {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0px 12px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 50px;
  background: #9c6644;
}

.Navbar-Items {
  flex-grow: 1; 
}

.spacer {
  flex-grow: 2; 
}

.Navbar-Items a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  transition: 0.3s;
}

.Navbar-Items a:hover {
  text-decoration: underline;
}

.nav-icon {
  cursor: pointer;
  padding: 6px;
}



/* Search Component Styles */
.search-container {
  position: relative;
}

.background-image {
  width: 100%;
  height: 500px; /* Adjust as needed */
  object-fit: cover; /* Or use 'contain' if you don't want to crop */
}

.search-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.search-heading {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 10px;
  border-radius: 16px;
} */

.search-bar input {
  font-size: 16px;
  height: 28px;
  width: 400px;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-button {
  background-color: #9c6644; /* Match your navbar color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover{
  background-color: #7f5539;
}

/* Suggested Books */

/* Suggested Books */
.SuggestedBooksContainer {
  padding: 50px;
  border-bottom: 2px solid #797979; /* Add a border-bottom */
}

.SuggestedBooksContainer h4 {
  font-size: 20px;
  color: black;
}

.SuggestedBooks {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 20px; 
  justify-content: center;
}

.SuggestedBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.SuggestedBook img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.SuggestedBook:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.SuggestedBookTitle {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.82rem;
  margin: 0;
}

.SuggestedBookAuthor {
  color: rgb(148, 148, 148);
  margin: 0;
  font-size: 0.88rem;
  font-weight: 400;
}

.SuggestedBookInfo, .SuggestedBookAuthor {
  color: black;
}

.BookTitle {
  font-weight: 700;
}

/*popoular books */

.PopularBooksContainer {
  padding: 50px;
}

.PopularBooksContainer h4 {
  font-size: 20px;
  color: black;
}

.PopularBooks {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px; 
  justify-content: center;
}

.PopularBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.PopularBook img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.PopularBook:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.PopularBookTitle {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.82rem;
  margin: 0;
}

.PopularBookAuthor {
  color: rgb(148, 148, 148);
  margin: 0;
  font-size: 0.88rem;
  font-weight: 400;
}

.PopularBookInfo, .PopularBookAuthor {
  color: black;
}


/* Your Collections*/

.YourCollectionsContainer {
  padding: 50px;
}

.YourCollectionsContainer h4 {
  font-size: 20px;
}

.YourCollections {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px; 
  justify-content: center;
}

.YourCollection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.YourCollection img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.YourCollection:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.CollectionTitle {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.82rem;
  margin: 0;
}


.YourCollectionInfo {
  color: black;
}


.SortByOptions-YourCollections {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.SortByOptions-YourCollections span {
  margin-right: 10px;
  font-weight: bold;
}

.SortByOptions-YourCollections button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SortByOptions-YourCollections button:hover {
  background-color: #010135;
}


/* Favourite Books */

.FavouriteBooksContainer {
  padding: 50px;
}

.FavouriteBooksContainer h4 {
  font-size: 20px;
}

.FavouriteBooks {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: -10px;
  justify-content: center;
}

.FavouriteBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 240px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.FavouriteBook img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.FavouriteBook:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.FavouriteBookTitle {
  font-weight: 700;
}

.FavouriteBookAuthor {
  margin: 0;
}


.SortByOptions-FavouriteBooks {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.SortByOptions-FavouriteBooks span {
  margin-right: 10px;
  font-weight: bold;
}

.SortByOptions-FavouriteBooks button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SortByOptions-FavouriteBooks button:hover {
  background-color: #010135;
}


