@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #ede0d4;
  color: white;
}

.Navbar-logo {
  width: 156px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.Navbar ul {
  display: flex;
  list-style-type: none;
  margin-right: 160px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.Navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
}

.Navbar {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: #9c6644;
}

.Navbar-Items {
  flex-grow: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: 0.3s;
}

.nav-link:hover {
  font-size: 20px;
}

.nav-link.active {
  font-size: 25px;
  font-weight: bold;
  /* border-bottom: 1.75px solid white;  */
}

.nav-icon {
  cursor: pointer;
}

/* Search Component Styles */
.search-container {
  position: relative;
}

.background-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.search-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.search-heading {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.search-bar input {
  font-size: 16px;
  height: 28px;
  width: 400px;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-button {
  background-color: #9c6644;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #7f5539;
}

/* Suggested Books */
.SuggestedBooksContainer {
  position: relative;
  padding: 50px;
  padding-top: 2px;
  border-radius: 20px;
  background-color: #e6ccb2;
  margin: 30px;
}

.SuggestedBooksContainer h4 {
  font-size: 20px;
  color: black;
}

.SuggestedBooks {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

.SuggestedBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ede0d4;
}

.SuggestedBook img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.SuggestedBook:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.SuggestedBookTitle {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.82rem;
  margin: 0;
}

.SuggestedBookAuthor {
  color: rgb(148, 148, 148);
  margin: 0;
  font-size: 0.88rem;
  font-weight: 400;
}

.SuggestedBookInfo,
.SuggestedBookAuthor {
  color: black;
}

.BookTitle {
  font-weight: 700;
}

/* Popup View Book */
.PopupDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: max-content;
  text-align: center;
  max-height: 80vh;
  overflow: auto;
}

.PopupContent {
  display: flex;
  align-items: flex-start;
  width: max-content;
}

.PopupLeftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  border-radius: 10px;
  padding: 20px;
  background-color: #b08968;
}

.PopupContent .PopupLeftColumn img {
  max-width: 290px;
  height: auto;
  border-radius: 10px;
}

.CloseButton {
  position: absolute;
  border: none;
  top: 10px;
  right: 14px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  color: #ff0000;
  background: none;
  transition: transform 0.4s;
}

.CloseButton:hover {
  transform: scale(1.1);
}

.DialogTitle {
  color: #010135;
  font-size: 16px;
  width: max-content;
  margin: 0%;
  margin-top: 10px;
  font-weight: 700;
  width: 220px;
}

.DialogAuthor {
  color: #010135;
  font-size: 16px;
  width: 180px;
  margin: 0%;
}

.PopupButtonHolder{
  display: flex;
  justify-content: space-evenly;
}

.PopupRightColumn {
  position: relative;
  width: 500px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DialogDescription {
  color: #010135;
  font-size: 16px;
  text-align: start;
  margin: 0%;
  padding: 12px;
  padding-top: 0px;
}

.AddToFavoritesButton,
.SeeMoreButton {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.SeeMoreButton {
  margin-top: 30px;
  background-color: #b08968;
}

.AddToFavoritesButton{
  background-color: rgb(16, 152, 16);
}
.AddToFavoritesButton:hover {
  background-color: rgb(13, 109, 13);
}

.SeeMoreButton:hover {
  background-color: #7f5539;
}

.AddToCollectionsButton {
  background-color: #b08968;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.AddToCollectionsButton:hover {
  background-color: #7f5539;
}

/*popular books */
.PopularBooksContainer {
  padding: 50px;
  padding-top: 2px;
  border-radius: 20px;
  background-color: #e6ccb2;
  margin: 30px;
}

.PopularBooksContainer h4 {
  font-size: 20px;
  color: black;
}

.PopularBooks {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
}

.PopularBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ede0d4;
}

.PopularBook img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.PopularBook:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.PopularBookTitle {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.82rem;
  margin: 0;
}

.PopularBookAuthor {
  color: rgb(148, 148, 148);
  margin: 0;
  font-size: 0.88rem;
  font-weight: 400;
}

.PopularBookInfo,
.PopularBookAuthor {
  color: black;
}

/* Your Collections*/

.YourCollectionsContainer {
  position: relative; /* Ensure the container is positioned relatively */
  padding: 50px;
  padding-top: 2px;
  border-radius: 20px;
  background-color: #e6ccb2;
  margin: 30px;
}

.YourCollectionsContainer h4 {
  font-size: 20px;
  color: #010135;
}

.YourCollections {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
}

.YourCollection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ede0d4;
}

.YourCollection img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.YourCollection:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.CollectionTitle {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.82rem;
  margin: 0;
}

.YourCollectionInfo {
  color: black;
}

.SortByOptions-YourCollections {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.SortByOptions-YourCollections span {
  margin-right: 10px;
  font-weight: bold;
  color: #010135;
}

.SortByOptions-YourCollections button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SortByOptions-YourCollections button:hover {
  background-color: #7f5539;
}

/* Favourite Books*/

.FavouriteBooksContainer {
  padding: 50px;
  padding-top: 2px;
  border-radius: 20px;
  background-color: #e6ccb2;
  margin: 30px;
}

.FavouriteBooksContainer h4 {
  font-size: 20px;
  color: #010135;
}

.FavouriteBooks {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
}

.FavouriteBook {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ede0d4;
}

.FavouriteBook img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.FavouriteBook:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.FavouriteBookTitle {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 0.82rem;
  margin: 0;
}

.FavouriteBookAuthor {
  color: rgb(0, 0, 0);
  margin: 0;
  font-size: 0.88rem;
  font-weight: 400;
}

.FavouriteBookInfo {
  color: black;
}

.SortByOptions-FavouriteBooks {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.SortByOptions-FavouriteBooks span {
  margin-right: 10px;
  font-weight: bold;
  color: #010135;
}

.SortByOptions-FavouriteBooks button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SortByOptions-FavouriteBooks button:hover {
  background-color: #7f5539;
}

.AddtoCollections-YourCollections {
  position: absolute;
  right: 50px;
}

.AddtoCollections-YourCollections button:hover {
  background-color: #7f5539;
}

.FilterLabel {
  margin-left: 50px;
}

.CategoryDropdown {
  padding: 5px;
  font-size: 16px;
}

/* Create Collection */

.PopupDialog-CreateCollection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: max-content;
  text-align: center;
  max-height: 80vh;
  overflow: auto;
}

.CloseButton-CreateCollection {
  position: absolute;
  border: none;
  top: 10px;
  right: 14px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  color: #ff0000;
  background: none;
  transition: transform 0.4s;
}

.CloseButton-CreateCollection:hover {
  transform: scale(1.1);
}

.PopupDialog-CreateCollection input[type="text"] {
  font-size: 16px;
  height: 28px;
  width: 300px;
  margin: 10px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
}

.PopupDialog-CreateCollection button {
  background-color: #b08968;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PopupDialog-CreateCollection button:hover {
  background-color: #7f5539;
}

/* Collection View */

.CollectionView {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;
}

.CollectionView .CloseButton-CollectionView {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff0000;
}

.CollectionView h2,
.CollectionView p { /* Apply black color to both headings and paragraphs */
  color: black;
}

.CollectionView .CollectionBooks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.CollectionView .CollectionBook img {
  width: 100%;
  border-radius: 5px;
}

.CollectionView .CollectionBook h3,
.CollectionView .CollectionBook p {
  color: black;
}

.DeleteCollection {
  
}